$tablet-size: 768px;

@mixin Tablet-view {
    @media (min-width: #{$tablet-size}) {
        @content;
    }
}


.container {
    max-width: 107rem;
    margin: 0 auto;
    padding: 0 0.5rem;

    @include Tablet-view() {
        padding:  0 2rem;
    }

}

.about-me{
    min-height: 500px;
    max-height: fit-content;
    max-width: 100%;
    background-color: $Skills-section-main-clr;
    display: grid;
    justify-content: center;
    padding: 3.5rem 0;
    @include Tablet-view() {
     min-height: 600px;
     max-height: fit-content;
    min-width: 100%;

    }

}



    .about-me-content {
        display: grid;
        // max-height: 100vh;
        padding: 20px 0;
        place-items: center;


        
    .title {
        @include reuseableTittle();
    }

    .split {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        row-gap: 1em;

        @include Tablet-view() {
         
            display: grid;
            grid-template-columns: repeat(2, 400px);
            column-gap: 10px;
        }

        img {
            max-height: 400px;
            max-width: 500px;
            border-radius: 3px;
            &:hover {
                filter: drop-shadow(0 25px 25px #C4E1FF);
                transition: ease-in-out;
            }
        }
    }

 .space-text {
        row-gap: 15px;
        font-size: 16px;
        line-height: 1.2;
        color: $skill-title-txt-clr;
        text-align: center;
        padding-bottom: 10px;
        @include Tablet-view() {
            text-align: left;
        }

    }


    article {
        max-height: 400px;
        max-width: 400px;
        line-height: 1.3;
        text-align: center;
        text-align: justify;
        @include Tablet-view() {
            text-align: left;
        }

        h1 {
            color: $project-title-clr;
            font-size: minmax(24px, 30px);

            @include Tablet-view {
                text-align: justify;
            }
        }
    }

    }

