

$tablet-view: 768px;

@mixin Tablet-screen {
    @media (max-width: #{$tablet-view}) {
        @content;
    }
}
header {
    // max-height: 100px;
    // min-width: 100%;
    // background-color: $whiteClr;
    // display: flex;
    // justify-content: space-between;

    .show {
        display: block;
    }

    .header-content {
        background-color: $whiteClr;
        display: flex;
        align-content: center;
        justify-content: space-between;

        .title {
            color: $project-title-clr;
            font-size: 30px;
            font-weight: bold;
        }
    }



    .container {
        max-width: 107rem;
        margin: 0 auto;
        padding: 0 6rem;

        @include Tablet-screen() {
            padding: 0 2em;
        }
     
    }

    nav  {
        max-height: 100px;
        max-width: 600px;
        display: flex;
        color: $skill-title-txt-clr;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        align-items: center;
        column-gap: 20px;
        @include Tablet-screen() {
            height: 190px;
            padding-top: 15px; 
            display: none;
            position: absolute;
            background-color: $whiteClr;
            max-width: 100%;
            top: 65px;
            left: 0;
            right: 0;
            transition: ease-in-out;
        }
    }

    li {
        list-style-type: none;
        @include Tablet-screen() {
            padding: 5px 0;
        }
    }
    a {
        color: $skill-title-txt-clr;
        text-decoration: none;
        cursor: pointer;
    }


}


.hamburger-menu {
    display: none;
    cursor: pointer;

    @include Tablet-screen() {
        display: block;
        transition: ease-in-out;
    }

    .bar {
        display: block;
        background-color: grey;
        height: 3px;
        width: 25px;
        margin: 5px auto;
    }




}

.active{
    transition: ease-in-out;
    @include Tablet-screen() {

        .bar:nth-child(2){
            opacity: 0;
        
    }

    .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
     }

    .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        }

    }
    
     
    }
    




.them {
    // border-left: 1px solid $skill-title-txt-clr;
    border-left-width: 5px;
    border-width: 1px;
    // margin-left: 20px;
    display: flex;
    align-items: center;
    width: fit-content;
    column-gap: 8px;

   
    .dark-mode {
        display: none;
    }

    p {
        display: none;
        @include Tablet-screen() {
            display: block;
        }
    
        
    };


 

}



