

$tablet-size: 768px;

@mixin Tablet-view {
    @media (min-width: #{$tablet-size}) {
        @content;
    }
}


.container {
    max-width: 107rem;
    margin: 0 auto;
    padding: 0 0.5rem;

    @include Tablet-view() {
        padding:  0 2rem;
    }

}

.hero-section {
    background-color: $whiteClr;
    padding: 0 0;
    max-width: 107rem;
    min-width: 375px;
    min-height: 100vh;
    box-sizing: border-box;
    @include Tablet-view() {
        padding: 1em 0;
        min-height: 0;
        max-height: 100vh;

    }

    
    .split {
        display: grid;
        max-width: 107rem;
        grid-template-columns: 100%;
        place-items: center;
        text-align: left;

        @include Tablet-view() {
            align-content: center;
            grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
            grid-template-areas:
            "info  img";
        }
        img {
            max-width: 100%;
            max-height: 300px;
            max-width: 320px;
            // object-fit: cover;

            @include Tablet-view() {
                max-width: 280px;
                // object-fit: cover;
    
            }
    
        }


        .hero-info {
            text-align: center;
            display: grid;
            place-items: center;
            
            @include Tablet-view() {
                grid-area: info;
                text-align: start;
                place-items: start;
                
            }

            h1 {
                color: $project-title-clr;
                font-weight: bold;
                font-size: clamp(36px,3vw, 60px );
                // text-align: center;
                // clamp(2rem, 4vw, 4rem);

                // @include Tablet-view() {
                //     font-size: 60px;
                // }
    
            }
        }



        .narrow-txt {
            margin-top: -1.3em;
            max-width: 20rem;
            text-align: center;
            @include Tablet-view() {
                text-align: left;
            }

            p {
                // text-align: center;
                font-size: 16px;
                line-height: 1.3;
                color: $skill-title-txt-clr;
            }
        }


        .hero-img {
            margin-top: 1rem;
        @include Tablet-view() {
            grid-area: img;
            // max-height: 360px;
            // max-width: 320px;
        }
    
    
        img {

            min-height: 450px;
            max-width: 320px;
            border-radius: 3px;
            // object-fit: cover;
           
         }

        

        }


    }



    .tech-stack {
        margin-top: 1em;
        padding: 1em 0;
        max-width:  107rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
         align-items: center;
         align-content: center;

         @include Tablet-view() {
            flex-direction: row;
            // margin-top: 0;
            padding-left: 4.5rem;
            justify-content: flex-start;
         }

         img {
            max-width: 100%;
            height: 60px;
            object-fit: cover;
            &:hover {
                scale: 1.2;
                transition: ease-out;
            }

         }

         p {
            color: $skill-title-txt-clr;
            border-bottom: 0.5px solid $skill-title-txt-clr;
            @include Tablet-view() {
                border-bottom: 0;
                padding-right: 15px;
                width: fit-content;
                padding-bottom: 3px;
                border-right: 0.5px solid $skill-title-txt-clr;
            }
         }


         .languages {
            @include Tablet-view() {
                display: grid;
                margin-left: 2em;
                gap: 15px 15px;
                place-items: center;
                grid-template-columns: repeat(6, 1fr);
            }
         }
         
    }


}

