$tablet-size: 768px;
$desktop-size: 1024px;
@mixin Tablet-view {
    @media (min-width: #{$tablet-size}) {
        @content;
    }
}
@mixin Desktop {
    @media (min-width: #{$desktop-size}) {
        @content;
    }
}


.container {
    max-width: 107rem;
    margin: 0 auto;
    padding: 0 0.5rem;

    @include Tablet-view() {
        padding:  0 2rem;
    }
}



.project-section {
    min-height: 100vh;
    min-width: 100%;
    padding: 3rem 0;
    display: grid;
    justify-content: center;
    background-color: $whiteClr;

}


.project-content {
    text-align: center;
    display: grid;
    place-items: center;
    padding: 2rem 0;
    

    .title {
        @include reuseableTittle ();
    }

    p {
        color: $skill-title-txt-clr;
        padding: 1rem 0;
        font-size: 18px;
        padding-bottom: 15px;
    }


    .project {
                max-height: 772px;
                min-width: 343px;
                max-width: 370px;
                text-align: start;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-radius: 5px;
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                &:hover {
                    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
                    transition: ease-in-out;
                }
        
        h3 {
            color: $project-title-clr;
            font-size: 18px;
        }

        p {
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: normal;
            @include Tablet-view() {
                font-size: .80rem;
            }
        }
    }

    .languages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;



        span {
            @include reuseableTittle;
        }
    }
    
    .my-projects {
        display: grid;
        justify-content: center;
        grid-template-columns: 100%;
        place-content: center;
        row-gap: 2rem;
        padding: 3rem 0;


        @include Tablet-view()  {
            max-height: 100vh;
            max-width: 1152px;
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
            column-gap: 2rem;
            // display: flex;
            // flex-wrap: wrap;
        }


        // @include Desktop() {
        //     grid-template-columns: repeat(4, minmax(300px, 1fr));
        // }
    }


    .resources {
        display: flex;
        justify-content: start;
        align-content: center;
        padding: 0 5px;
        column-gap: 15px;
        @include Tablet-view() {
            padding-top: 15px;
        }

        img {
            height: 30px;
            width: 30px;
        }

        a {
            color: $skill-title-txt-clr;
            text-decoration: none;
            display: flex;
            align-items: center;
            column-gap: 13px;
            
            &:hover {
                color: $project-title-clr;
            }
        }

        


    }




}




.img {
    max-height: 256px;
    max-width: 343px;
    background-color: $Project-box-img;
    border-radius: 5px 5px 0 0;
    display: grid;
    justify-content: center;
    place-items: center;
    padding: 15px;


    img {
        max-width: 100%;
        height: 192px;
        object-fit: cover;
        width: 279px;
        border-radius: 15px 5px;
    
    }
}



.info {
    max-height: 516px;
    max-width: 343px;
    display: block;
    padding: 0 15px;
}

