$tablet-size: 768px;

@mixin Tablet-view {
    @media (min-width: #{$tablet-size}) {
        @content;
    }
}


.container {
    max-width: 107rem;
    margin: 0 auto;
    padding: 0 0.5rem;

    @include Tablet-view() {
        padding:  0 2rem;
    }
}



.project-section {
    min-height: 100vh;
    min-width: 100%;
    padding: 3rem 0;
    background-color: $whiteClr;
}


.project-content {
    text-align: center;
    display: grid;
    place-items: center;
    padding: 2rem 0;
    

    .title {
        @include reuseableTittle ();
    }

    p {
        color: $skill-title-txt-clr;
        font-size: 18px;
        padding-bottom: 15px;
    }


    .project {
        max-height: 784px;
        min-width: 400px;
        text-align: start;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    @include Tablet-view() {
        flex-direction: row;
        max-width: 1152px;
        max-height: 480px;
    //    border-radius: 5px;
    }

        .project-img {
            max-width: 100%;
            min-height: 256px;
            min-width: 400px;
            @include Tablet-view() {
                max-width: 576px;
                max-height: 480px;
            }

        }

        .info {
            padding: 0 1rem;
            min-height: 315px;
            max-width: 500px;
            @include Tablet-view() {
                padding-left: 1.5rem;
            }
        
        }

        h3 {
            color: $project-title-clr;
            font-size: 18px;
        }

        p {
            font-size: 16px;
            line-height: 1.4;
            letter-spacing: normal;
        }
    }

    .languages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;

        @include Tablet-view() {
            padding-top: 2rem;
        }


        span {
            @include reuseableTittle;
        }
    }
    
    .my-projects {
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 2rem;
    }


    .resources {
        display: flex;
        justify-content: start;
        align-content: center;
        padding: 0 5px;
        column-gap: 15px;
        @include Tablet-view() {
            padding-top: 1rem;
        }

        img {
            height: 30px;
            width: 30px;

          
        }

        a {
            color: $skill-title-txt-clr;
            text-decoration: none;
            display: flex;
            align-items: center;
            column-gap: 13px;
            
            &:hover {
                color: $project-title-clr;
            }
        }

        


    }


    .flip-items {
        @extend .project;
        @include Tablet-view() {
            .project-img {
                order: 2;
            }

            .info {
                order: 1;
            }
        }
    }



}