@import "./variables";
@import "./aboutMe";
@import "./contactSection";
@import "./skillsSection";
@import "./project-section";
@import "./hero-section";
@import "./header";
@import "./footer";


.main-container {
    min-height: 100vh;
    min-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;

}

html {
    scroll-behavior: smooth;
}

nav ul li a.active {
    font-weight: bold;
}







